<div class="class-list">
  <div *ngIf="!isTeacher && displayName" class="welcome">Welcome, {{ displayName }}!</div>
  <h2>Classes</h2>
  <div class="week-nav">
    <button (click)="prevWeek()">⟨ Prev Week</button>
    <div class="week-range">{{ days[0] | date: 'MMM d' }} - {{ days[6] | date: 'MMM d, yyyy' }}</div>
    <button (click)="nextWeek()">Next Week ⟩</button>
  </div>
  <div *ngIf="isTeacher" class="add-class">
    <input #newClassInput type="text" [(ngModel)]="newClassName" placeholder="New class name" />
    <input type="date" [(ngModel)]="newClassDate" [min]="minDate" />
    <input type="time" [(ngModel)]="newClassTime" />
    <button (click)="addClass()" [disabled]="isSubmitting || !newClassName || !newClassDate || !newClassTime">Add class</button>
  </div>
  <div *ngIf="visibleClasses && visibleClasses.length > 0; else empty">
    <ul>
      <li *ngFor="let cls of visibleClasses">
    <div class="cls-datetime">{{ cls.classDate | date: 'EEE, MMM d, h:mm a' }}</div>
        <button *ngIf="isTeacher" (click)="removeClass(cls.id)">Delete</button>
      </li>
    </ul>
  </div>
  <ng-template #empty>
    <div class="empty-state">No classes this week</div>
  </ng-template>
</div>
