<div class="class-list">
  <h2>Classes</h2>
  <div *ngIf="isTeacher" class="add-class">
  <input #newClassInput type="text" [(ngModel)]="newClassName" placeholder="New class name" />
  <button (click)="addClass()" [disabled]="isSubmitting">Add class</button>
  </div>

  <ul>
    <li *ngFor="let cls of classes">
      <div class="cls-subject">{{ cls.subject || cls.name }}</div>
      <div class="cls-datetime">{{ cls.classDate | date: 'EEE, MMM d, h:mm a' }}</div>
      <button *ngIf="isTeacher" (click)="removeClass(cls.id)">Delete</button>
    </li>
  </ul>
</div>
